---
layout: archive
title: "Voyage"
excerpt: "Through boundless paths we roam."
permalink: /voyage/
header:
  overlay_image: pr-tram-3v1.jpg
  overlay_filter: 0.5
---
{% include base_path %}

  <div class="container">
    {% for post in site.voyage reversed%}
      {% assign title = post.title %}
      <div id="{{ title | slugify }}" style="width: 0; height: 0" aria-hidden="true"></div>
      {% include archive-single.html %}
    {% endfor %}
  </div>

  <a class="floating_tarot_card_container" href="/voyage-by-tags">
    <div class="floating_tarot_card" alt="Tarot - The World"></div>
  </a>

  {% include random_voyage_anchor.html posts = site.voyage %}
  {% include presented-by-qsd.html %}