{% include base_path %}

<!-- start custom head snippets -->

<link rel="icon" type="image/png" href="{{ base_path }}/images/QSDLogo-32x32.jpg" sizes="32x32">
<link rel="icon" type="image/png" href="{{ base_path }}/images/QSDLogo-192x192.jpg" sizes="192x192">
<link rel="icon" type="image/png" href="{{ base_path }}/images/QSDLogo-96x96.jpg" sizes="96x96">
<link rel="icon" type="image/png" href="{{ base_path }}/images/QSDLogo-16x16.jpg" sizes="16x16">
<link rel="mask-icon" href="{{ base_path }}/images/safari-pinned-tab.svg" color="#000000">
<link rel="shortcut icon" href="/images/QSDLOGO.ico">
<meta name="msapplication-TileColor" content="#000000">
<meta name="msapplication-config" content="{{ base_path }}/images/browserconfig.xml?v=M44lzPylqQ">
<meta name="theme-color" content="#ffffff">
<link rel="stylesheet" href="{{ base_path }}/assets/css/academicons.css"/>


<link rel="preconnect" href="https://fonts.font.im"> 
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.font.im/css?family=PT+Sans+Narrow:400,700|PT+Serif:400,700,400italic" rel="stylesheet" type="text/css">
<link href="https://fonts.font.im/css2?family=El+Messiri:wght@400;500&family=Xanh+Mono&display=swap" rel="stylesheet" type="text/css">
<link href="https://fonts.font.im/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet" type="text/css">
<link href="https://fonts.font.im/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet" type="text/css">
<link href="https://fonts.font.im/css?family=Heebo:400,700|Open+Sans:400,700" rel="stylesheet" type="text/css">
<link href="https://fonts.font.im/css2?family=Barlow:wght@300&display=swap" rel="stylesheet" type="text/css">


<script type="text/x-mathjax-config"> MathJax.Hub.Config({ TeX: { equationNumbers: { autoNumber: "all" } } }); </script>
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$','$'], ["\\(","\\)"] ],
      processEscapes: true
    }
  });
</script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/latest.js?config=TeX-MML-AM_CHTML' async></script>

<!-- end custom head snippets -->
