---
layout: archive
title: "Portfolio"
excerpt: "Immortalise life's fleeting visions in frames."
permalink: /portfolio/
author_profile: true
left_tarot_card: 'knight-of-wands'
left_tarot_href: '/voyage/#dolomites'
right_tarot_card: 'knight-of-wands'
right_tarot_href: '/voyage/#london'
header:
  overlay_image: new-york-rockfeller-afterglow-facing-the-edge-3v1.jpg
  overlay_filter: 0.25
---
{% include base_path %}

  <div class="container">
    {% for post in site.portfolio reversed%}
    {% include archive-single.html %}
    {% endfor %}
  </div>
  {% include presented-by-qsd.html %}