---
layout: archive
permalink: /tags/
title: "Posts by Tags"
excerpt: "Isn't it a boring pun to put an airtag pic."
left_tarot_card: 'the-hermit'
left_tarot_href: /year-archive
author_profile: true
header:
  overlay_image: QSDAirtag1-3v1.jpg
  overlay_filter: 0.3
toc: true
---

{% include base_path %}
{% include group-by-array collection=site.posts field="tags" %}

    {% for tag in group_names %}
      {% assign posts = group_items[forloop.index0] %}
      <h2 id="{{ tag | slugify }}" class="archive__subtitle">{{ tag }}</h2>
      {% for post in posts %}
        {% include archive-single.html %}
      {% endfor %}
    {% endfor %}
    <div class="tag-grid sticky_bottom">
      {% for tag in group_names %}
        {% assign display_tag = tag | slice: 0, 15 %}
        {% if tag.size > 15 %}
          {% assign display_tag = display_tag | append: "..." %}
        {% endif %}
        <a href="#{{ tag | slugify }}" class="tag-grid__item">
          <p>{{ display_tag }}</p>
        </a>
      {% endfor %}
    </div>