---
layout: archive
permalink: /year-archive/
title: "QSD's Posts"
excerpt: "An epilogue to the past."
author_profile: true
redirect_from:
  - /wordpress/blog-posts/
header:
  overlay_image: QSD_AirTag_6v1.jpg
---

{% include base_path %}
{% capture written_year %}'None'{% endcapture %}
{% for post in site.posts %}
  {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
  {% if year != written_year %}
    <h2 id="{{ year | slugify }}" class="archive__subtitle">{{ year }}</h2>
    {% capture written_year %}{{ year }}{% endcapture %}
  {% endif %}
  {% include archive-single.html %}
{% endfor %}

<a class="floating_tarot_card_container" href="/tags">
  <div class="floating_tarot_card" alt="Tarot - The World" style="mask-image: url('/assets/css/images/the-fool.svg');"></div>
</a>