{% include base_path %}

<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav" aria-label="Primary">
        <button type="button" class="greedy-nav__toggle" aria-label="Toggle navigation"><div class="navicon"></div></button>
        <ul class="visible-links">
          <li class="masthead__menu-item masthead__menu-item--lg masthead__menu-item--brand">
            <div class="masthead__brand-group">
              <a href="{{ base_path }}/" class="masthead__brand-logo" aria-label="{{ site.title }}">
                <span class="masthead__brand-mark" aria-hidden="true"></span>
              </a>
              <a href="{{ base_path }}/" class="masthead__brand-name">{{ site.title }}</a>
            </div>
          </li>
          {% for link in site.data.navigation.main %}
            {% if link.url contains 'http' %}
              {% assign domain = '' %}
              {% else %}
              {% assign domain = base_path %}
            {% endif %}
            <li class="masthead__menu-item"><a href="{{ domain }}{{ link.url }}">{{ link.title }}</a></li>
          {% endfor %}
        </ul>
        {% if site.search == true %}
        <button class="search__toggle" type="button">
          <span class="visually-hidden">{{ site.data.ui-text[site.locale].search_label | default: "Toggle search" }}</span>
          <i class="fas fa-search"></i>
        </button>
        {% endif %}
        <ul class="hidden-links hidden"></ul>
        
      </nav>
    </div>
  </div>
</div>
