{% include base_path %}
<link rel="stylesheet" href="{{ '/assets/css/swiper-bundle.min.css' | relative_url }}" />
<body>
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />

<div class="new-release-slider-container">
  <div class="swiper new-release-swiper">
    <div class="swiper-wrapper">
      {% assign new-releases = site.data.new-release %}
      {% assign new-releases = new-releases | sort: 'title' | reverse %}
      {% for release in new-releases %}
      <div class="swiper-slide">
        <a href="{{ release.url }}" class="release-card" target="_blank">
          <div class="release-card__image" style="background-image: url('{{ release.background_image }}');" loading="lazy"></div>
          <div class="release-card__content">
            <h3 class="release-card__title" data-swiper-parallax-x="-7" data-swiper-parallax-duration="1000">{{ release.title }}</h3>
            <p class="release-card__description">{{ release.description }}</p>
            <div class="release-card__icon">
              {% assign tag = release.tag | default: '' %}
              {% if tag == 'in-progress' %}
                <i class="fa-solid fa-person-digging" title="Still in progress!"></i>
              {% endif %}
              {% assign icon_class = 'fa-solid fa-cable-car' %}
              {% assign icon_title = 'voyage' %}
              {% if release.type == 'post' %}
                {% assign icon_class = 'fa-regular fa-newspaper' %}
                {% assign icon_title = 'post' %}
              {% endif %}
              <i class="{{ icon_class }}" title="{{ icon_title }}"></i>
            </div>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>

    <!-- Optional navigation -->
    <!-- <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div> -->
  </div>
</div>

  <!-- Swiper JS (core library) -->
  <script src="{{ '/assets/js/swiper-bundle.min.js' | relative_url }}"></script>

  <!-- Your custom Swiper config -->
  <script src="{{ '/assets/js/slider.js' | relative_url }}"></script>
</body>