{% include base_path %}

  <a class="floating_tarot_card_container wheel_of_fortune" href="/voyage/??????" onclick="goToRandomPost(); return false;" title="🔮Wheel of Fortune: Mysterious journey awaits!" style="right: 1.5em; left: auto;">
    <div class="floating_tarot_card" alt="Tarot - Wheel of Fortune" style="mask-image: url('/assets/css/images/tarots/wheel-of-fortune.svg');"></div>
  </a>

  <script>
    const postUrls = ["/voyage",
      {% for post in site.voyage %}
      {% if post.url %}
        "{{ post.url }}"{% unless forloop.last %},{% endunless %}
      {% endif %}
      {% endfor %}
    ];
  
    function goToRandomPost() {
      const randomIndex = Math.floor(Math.random() * postUrls.length);
      const url = postUrls[randomIndex];
      window.location.href = url;
    }
  </script>