{% include base_path %}

{% assign post_urls = "" %}
{% for post in include.posts %}
  {% assign anchor = post.title | slugify %}
  {% assign prepender = '"' | append: '#' %}
  {% if forloop.first %}
    {% assign post_urls = prepender | append: anchor | append: '"' %}
  {% else %}
    {% assign post_urls = post_urls | append: ', ' | append: prepender | append: anchor | append: '"' %}
  {% endif %}
{% endfor %}
{% assign post_urls = post_urls | prepend: '[' | append: ']' %}
{% assign tarot_card_for_random_page = include.tarot_card | default: "wheel-of-fortune" %}
<body>
  <a class="floating_tarot_card_container floating_tarot_card_container--right wheel_of_fortune" onclick="goToRandomPost(); return false;">
    <div class="floating_tarot_card" alt="Tarot - Wheel of Fortune" style="mask-image: url('/assets/css/images/tarots/{{ tarot_card_for_random_page }}.svg');"></div>
  </a>
    <script>
    const postUrls = {{ post_urls | safe }};
    console.log("Number of posts to explore:", postUrls.length );
    function goToRandomPost() {
      const randomIndex = Math.floor(Math.random() * postUrls.length);
      const url = postUrls[randomIndex];
      console.log("Navigating to ", url);
      $.smoothScroll({
        scrollTarget: url,
        offset: -50,
        speed: 880,
        easing: 'swing',  
      });
    }
    window.goToRandomPost = goToRandomPost;
  </script>
</body>