{% include base_path %}

  <a class="floating_tarot_card_container floating_tarot_card_container--right wheel_of_fortune" title="Wheel of Fortune: Go to a random voyage on this page!" onclick="goToRandomPost(); return false;">
    <div class="floating_tarot_card" alt="Tarot - Wheel of Fortune" style="mask-image: url('/assets/css/images/tarots/wheel-of-fortune.svg');"></div>
  </a>

  <script>
    const postUrls = [
      {% for post in include.posts %}  // Parse the `posts` argument from include
      "{{ page.url }}#{{ post.title | slugify }}"{% if forloop.last == false %},{% endif %}
      {% endfor %}
    ];
    function goToRandomPost() {
      const randomIndex = Math.floor(Math.random() * postUrls.length);
      const url = postUrls[randomIndex];
      window.location.href = url;
    }
  </script>