{% include base_path %}

  <a class="floating_tarot_card_container wheel_of_fortune" href="/voyage/??????" data-random-voyage title="🔮Wheel of Fortune: Mysterious journey awaits!" style="right: 1.5em; left: auto;">
    <div class="floating_tarot_card" alt="Tarot - Wheel of Fortune" style="mask-image: url('/assets/css/images/tarots/wheel-of-fortune.svg');"></div>
  </a>

  <script>
    (function() {
      const postUrls = ["/voyage",
        {% for post in site.voyage %}
        {% if post.url %}
          "{{ post.url }}"{% unless forloop.last %},{% endunless %}
        {% endif %}
        {% endfor %}
      ];

      const link = document.querySelector('a[data-random-voyage]');
      if (!link) return;
      link.addEventListener('click', function(event) {
        event.preventDefault();
        window.location.href = postUrls[Math.floor(Math.random() * postUrls.length)];
      });
    })();
  </script>