<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
    <div class="tradingview-widget-container__widget"></div>
    <div class="tradingview-widget-copyright"></div>
    <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js" async>
    {
    "symbols": [
      {
        "proName": "FOREXCOM:SPXUSD",
        "title": "S&P 500"
      },
      {
      "description": "NFLX",
      "proName": "NASDAQ:NFLX"
      },
      {
        "proName": "BITSTAMP:BTCUSD",
        "title": "BTC"
      },
      {
        "description": "DJI",
        "proName": "SPREADEX:DJI"
      },
      {
        "description": "WTI",
        "proName": "PYTH:WTI3!"
      },
      {
        "description": "GBPUSD",
        "proName": "FX:GBPUSD"
      },
      {
        "description": "NVDA",
        "proName": "NASDAQ:NVDA"
      },
      {
      "description": "UK100",
      "proName": "CAPITALCOM:UK100"
        },
      {
        "description": "AAPL",
        "proName": "NASDAQ:AAPL"
      },
      {
        "description": "HSI",
        "proName": "HSI:HSI"
      },
      {
        "description": "SGDUSD",
        "proName": "FX_IDC:SGDUSD"
      },
      {
        "description": "QQQ",
        "proName": "NASDAQ:QQQ"
      },
      {
      "description": "US100",
      "proName": "CAPITALCOM:US100"
        },
      {
        "description": "SGDCNY",
        "proName": "FX_IDC:SGDCNY"
      }
    ],
    "showSymbolLogo": true,
    "isTransparent": false,
    "displayMode": "compact",
    "colorTheme": "dark",
    "locale": "en"
  }
    </script>
  </div>
  <!-- TradingView Widget END -->