/* ==========================================================================
   ARCHIVE
   ========================================================================== */
@import url('https://fonts.googleapis.com/css?family=Heebo:400,700|Open+Sans:400,700');

:root {
  --color: #3c3163;
  --transition-time: 0.5s;
}
.archive {
  margin-bottom: 2em;

  @include breakpoint($medium) {
    @include span(12 of 12);
  }

  @include breakpoint($large) {
    @include span(10 of 12 last);
    @include prefix(0.5 of 12);
  }

  a {
    &:hover {

      img {
        box-shadow: 0 0 10px rgba(#aaa, 0.25);
      }
    }
  }
}

.bg {
  animation:slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #000 50%, #101118 50%);
  bottom:0;
  left:-50%;
  opacity:.6;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:4s;
}

.bg3 {
  animation-duration:5s;
}

@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}

.archive__subtitle {
  margin: 1.414em 0 0;
  padding-bottom: 0.5em;
  font-family: $tag-font-family;
  font-size: $type-size-4;
  color: $primary-color;
  border-bottom: 1px solid $border-color;

  + .list__item .archive__item-title {
    margin-top: 0.5em;
  }
}

.archive__item-title {
  margin-bottom: 0.25em;
  font-family: $sans-serif-narrow;

  a + a {
    opacity: 0.5;
  }
}

/* remove border*/
.page__content {

  .archive__item-title {
    margin-top: 1em;
    border-bottom: none;
  }
}

.archive__item-excerpt {
  margin-top: 0;
  font-size: $type-size-8;

  & + p {
    text-indent: 0;
  }
}

.archive__item-teaser {
  border-radius: $border-radius;
  overflow: hidden;
  img {
    width: 100%;
  }
}



/*
   List view
   ========================================================================== */

.list__item {
  
  @include breakpoint($medium) {
    padding-right: $right-sidebar-width-narrow;
  }

  @include breakpoint($large) {
    padding-right: $right-sidebar-width;
  }

  @include breakpoint($x-large) {
    padding-right: $right-sidebar-width-wide;
  }

  .page__meta {
    margin: 0 0 4px;
  }
}

/* zidingyi */


.container {
	position: relative;
	z-index: 1;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 1fr 1fr;
  padding: 1rem;
  margin: 0 auto;
  flex-wrap: wrap;
  width:auto;
}

.card {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
	background: rgba(255, 255, 255, 0.05);
	border-radius: 1em;
	backdrop-filter: blur(10px);
  padding: 2em;
  align-items: flex-start;
  display: flex;
  width: 100%;
  height: 12em;
  margin: 1em;
  --bg-filter-opacity: 0.4;

  background-size: cover;
  background-position: center;
  background-image: linear-gradient(rgba(12,12,12,var(--bg-filter-opacity)),rgba(0,0,0,var(--bg-filter-opacity))), var(--bg-img);
	position: relative;
  transition: all, var(--transition-time) cubic-bezier(.33,.11,.02,.99);

  text-decoration: none;

  backdrop-filter: blur(10px);

  &:hover {
    box-shadow: 0 4px  4px  rgba(0, 0, 0, .25),
                0 1px  6px  rgba(0, 0, 0, .15),
                0 8px  8px  rgba(0, 0, 0, .25), 
                0 16px 16px rgba(0, 0, 0, .25), 
                8px 32px 32px rgba(0, 0, 0, .35), 
                8px 64px 64px rgba(0, 0, 0, .35); 
 
     transform: scale(1.05)
                translateY(-0.5rem);
   }
   
   
   &:active {
    box-shadow: 0 4px  4px  rgba(0, 0, 0, .1),
                0 1px  6px  rgba(0, 0, 0, .05),
                0 8px  8px  rgba(0, 0, 0, .1), 
                0 16px 16px rgba(0, 0, 0, .1), 
                8px 16px 16px rgba(0, 0, 0, .15), 
                8px 32px 32px rgba(0, 0, 0, .15); 
   }
}

.card .content {
  transform: translateY(0px);
  transition: 0.5s;
  overflow: hidden;
}
.card:hover .content {
	transform: translateY(-10px);
}



.card h3 {
  font-size: $type-size-2;
  color: $text-color;
  font-family: $global-font-family;
}

.card p {
  font-size: $type-size-8;
  color: $text-color;
}

 .card .tags {
  display: grid;
  grid-template-rows: min-content;
}

.card .tags .tag {
    font-size: $type-code-size;
    font-family: $tag-font-family;
    background: rgba(20, 2, 2, 0.5);
    border-radius: 0.2rem;
    padding: 0 0.5em;
    margin-right: 0.5em;
    line-height: 1em;
}

.card:hover .tags .tag {
  background: var(--color);
  color: white;

}
.card .date {
  font-family: $tag-font-family;
  position: absolute;
  bottom: -0.5em;
  right: 0.5em;
  line-height: 1.5em;
  opacity: 0;
  transition: 1s;
}

.card .readtime {
  font-family: $tag-font-family;
  font-size: $type-code-size;
  padding: 0;
}
.card:hover .date {
  opacity: 1;
}
.card .sci {
	transform: translateY(10px);
	opacity: 0;
  transition: 1s;
}

.card:hover .sci {
	transform: translateY(0px);
	opacity: 1;
}


/*
   Grid view
   ========================================================================== */

.grid__item {
  border-radius: 15px;
  background: rgba(255,255,255,0.05);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  backdrop-filter: blur(10px);
  
  margin: 20px;
	align-items: center;

  .page__meta {
    margin: 0 0 4px;
  }

  .archive__item-title {
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-top: 0.5em;
    font-size: $type-size-5;
    transition: 0.5s;
  }

  .archive__item-excerpt {
    margin-left: 0.5em;
    margin-right: 0.5em;
    display: none;
  }

  @include breakpoint($small) {
    @include gallery(5 of 10);
    .archive__item-teaser {
      max-height: 200px;
    }
  }

  @include breakpoint($medium) {
    margin-left: 0.5em; /* reset before mixin does its thing*/
    margin-right: 0.5em; /* reset before mixin does its thing*/
    @include gallery(2.5 of 10);

    .archive__item-teaser {
      margin-left: 0.5em;
      margin-right: 0.5em;
      max-height: 120px;
    }

    .archive__item-excerpt {
      margin-left: 0.5em;
      margin-right: 0.5em;
      display: block;
      font-size: $type-size-8;
    }
  }
}

/*
   Features
   ========================================================================== */

.feature__wrapper {
  @include clearfix();
  margin-bottom: 2em;
  border-bottom: 1px solid $border-color;
}

.feature__item {
  margin-bottom: 2em;
  font-size: 1.25rem;

  @include breakpoint($small) {
    margin-bottom: 0;
    @include gallery(4 of 12);

    .feature__item-teaser {
      max-height: 200px;
      overflow: hidden;
    }
  }

  &--left {
    @include full();
    font-size: 1.25rem;

    .archive__item-teaser {
      margin-bottom: 2em;
    }

    @include breakpoint($small) {
      .archive__item-teaser {
        @include span(5 of 12);
      }

      .archive__item-body {
        @include span(7 of 12 last);
        @include prefix(0.5 of 12);
        @include suffix(1 of 12);
      }
    }
  }

  &--right {
    @include full();
    font-size: 1.25rem;

    .archive__item-teaser {
      margin-bottom: 2em;
    }

    @include breakpoint($small) {
      text-align: right;

      .archive__item-teaser {
        @include span(5 of 12 rtl);
      }

      .archive__item-body {
        @include span(7 of 12 last rtl);
        @include prefix(0.5 of 12);
        @include suffix(1 of 12);
      }
    }
  }

  &--center {
    @include full();
    font-size: 1.25rem;

    .archive__item-teaser {
      margin-bottom: 2em;
    }

    @include breakpoint($small) {
      text-align: center;

      .archive__item-teaser {
        margin: 0 auto;
        width: span(5 of 12);
      }

      .archive__item-body {
        margin: 0 auto;
        width: span(7 of 12);
      }
    }
  }
}


.container .card span
{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  pointer-events: none;
}

.container .card span::before
{
  content:'';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-radius: 16px;
  background: inherit;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(8px);
  opacity: 0;
  transition: 0.1s;  
  animation: animate 2s ease-in-out infinite;
  box-shadow: 0 5px 15px rgba(0,0,0,0.08)
}

.container .card:hover span::before
{
  top: -50px;
  left: 50px;
  width: 100px;
  height: 100px;
  opacity: 1;
}

.container .card span::after
{
  content:'';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  background: rgba(12, 18, 100, 0.1);
  backdrop-filter: blur(10px);
  opacity: 0;
  transition: 0.5s;
  animation: animate 2s ease-in-out infinite;
  box-shadow: 0 5px 15px rgba(0,0,0,0.08);
  animation-delay: -1s;
}

.container .card:hover span:after
{
  bottom: -50px;
  right: 50px;
  width: 100px;
  height: 100px;
  opacity: 0.95;
}

@keyframes animate
{
  0%, 100%
  {
    transform: translateY(10px);
  }
  
  50%
  {
    transform: translate(-10px);
  }
}

