/* ==========================================================================
   BASE ELEMENTS
   ========================================================================== */
html {
  /* sticky footer fix */
  position: relative;
  min-height: 100%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  padding-bottom: 6em;
  color: $text-color;
  font-family: $global-font-family;
  line-height: 1.5;
  &.overflow--hidden {
    /* when primary navigation is visible, the content in the background won't scroll */
    overflow: hidden;
  }
}

a {
  color: $link-color;
  text-decoration: none;
  &:visited {
    color: $link-color-visited;
  }
  &:hover {
    color: $link-color-hover;
    text-decoration: underline;
  }
}


.glassmorphism-card-effect {

  background-color: rgba(255, 255, 255, .05);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  border-radius: $border-radius;
}

#background-gradient{
  color:rgba(255, 255, 255, .1);
  background: linear-gradient(to right, 120deg, rgba(76, 217, 105,0.05), rgba(52, 170, 220,0.08),     rgba(88, 86, 217,0.02), rgba(255, 45, 83,0.03),       rgba(255, 45, 83,0.02), rgba(88, 86, 217,0.04),       rgba(52, 170, 220,0.03), rgba(76, 217, 105,0.05));
  background-size: 400%;
  animation:sTransition 10s linear infinite;
}

@keyframes sTransition{
  0%{
    background-position:0%;
  }
  
  100%{
    background-position:400%;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin: 0.5em 0 0.5em;
  line-height: 1.1;
  font-family: $header-font-family;
  font-weight: bold;
}

h1 {
  font-size: $type-size-2;
}

h2 {
  font-size: $type-size-3;
  color: $h2-color;
}

h3 {
  font-size: $type-size-4;
  color: $h3-color;
}

h4 {
  font-size: $type-size-5;
  color: $h4-color;
}

h5 {
  font-size: $type-size-6;
  color: $h5-color;
}

h6 {
  font-size: $type-size-7;
  color: $text-color;
}

small, .small {
  font-size: $type-size-8;
}

p {
  margin-bottom: 1em;
}

u,
ins {
  text-decoration: none;
  border-bottom: 1px solid $text-color;
  a {
    color: inherit;
  }
}

del a {
  color: inherit;
}

/* reduce orphans and widows when printing */

p, pre, blockquote, ul, ol, dl, figure, table, fieldset {
  orphans: 3;
  widows: 3;
}

/* abbreviations */

abbr[title],
abbr[data-original-title] {
  text-decoration: none;
  cursor: help;
  border-bottom: 1px dotted $text-color;
}

/* blockquotes */

blockquote {
  font-family: $serif;
  padding: 1em 1.25em;
  border: 1px double $darker-gray;
  background-color: $center-wrapper-background-color;
  border-radius: $border-radius * 2;
  text-align: justify;
  position: relative;

  cite {

    &:before {
      content: "\2014";
      padding-right: 1px;
    }
  }
}

/* links */

.date {
  font-family: $tag-font-family;
}


@media (orientation: landscape) {
  body {
    grid-auto-flow: column;
  }
}


/* code */

tt, code, kbd, samp, pre {
  font-family: $monospace;
  font-size: $type-size-8;
}

pre {
  overflow-x: auto; /* add scrollbars to wide code blocks*/
}

p > code,
a > code,
li > code,
figcaption > code,
td > code {
  padding-top: 0.2rem 0.2rem 0;
  margin: 0 0.2rem;
  color: $code-color;
  font-size: $type-code-size;
  background: $code-background-color;
  border: 1px solid $light-gray;
  border-radius: $border-radius / 2;
  box-shadow: $box-shadow;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);


  &:before, &:after {
    letter-spacing: -0.2em;
    content: "\00a0"; /* non-breaking space*/
  }
}

/* horizontal rule */

hr {
  display: block;
  margin: 0.25em auto;
  width: 38.2%;
  border: 2px solid $border-color;
  border-radius: 0.25em;
}

/* lists */

ul li,
ol li {
  margin-bottom: 0.5em;
}

li ul,
li ol {
  margin-top: 0.5em;
}

/*
   Media and embeds
   ========================================================================== */

/* Figures and images */

figure {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
          align-items: flex-start;
  flex-wrap: wrap;
  margin: 1em 0;
  img,
  iframe,
  .fluid-width-video-wrapper {
    margin-bottom: 1em;
  }

  img {
    width: 100%;
    border-radius: $border-radius;
    -webkit-transition: $global-transition;
    transition: $global-transition;
  }
  
  > a {
    display: block;
  }

  &.half {
    > a,
    > img {
      @include breakpoint($small) {
        width: calc(50% - 0.5em);
      }
    }

    figcaption {
      width: 100%;
    }
  }

  &.third {
    > a,
    > img {
      @include breakpoint($small) {
        width: calc(33.3333% - 0.5em);
      }
    }

    figcaption {
      width: 100%;
    }
  }
}

/* Figure captions */

figcaption {
  margin-bottom: 0.5em;
  color: mix(#fff, $text-color, 20%);
  font-family: $caption-font-family;
  font-style: italic;
  font-size: 0.8em;

  a {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid $light-gray;
    -webkit-transition: $global-transition;
    transition: $global-transition;

    &:hover {
      color: #000;
      border-bottom-color: #000;
    }
  }
}


/* Fix IE9 SVG bug */

svg:not(:root) {
  overflow: hidden;
}


/*
   Navigation lists
   ========================================================================== */

/**
 * Removes margins, padding, and bullet points from navigation lists
 *
 * Example usage:
 * <nav>
 *    <ul>
 *      <li><a href="#link-1">Link 1</a></li>
 *      <li><a href="#link-2">Link 2</a></li>
 *      <li><a href="#link-3">Link 3</a></li>
 *    </ul>
 *  </nav>
 */

nav {
  ul {
    margin: 0;
    padding: 0;
  }

  li {
    list-style: none;
  }


  /* override white-space for nested lists */
  ul li,
  ol li {
    margin-bottom: 0;
  }

  li ul,
  li ol {
    margin-top: 0;
  }
}

/*
   Global animation transition
   ========================================================================== */

b, i, strong, em, blockquote, p, q, span, figure, img, h1, h2, header, input, a, tr, td, form button, input[type="submit"], .btn, .highlight, .archive__item-teaser {
  -webkit-transition: $global-transition;
  transition: $global-transition;
}


// slider

.new-release-slider-container {
  width: 95%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
}

.release-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 95%;
  aspect-ratio: 2 / 3;
  border-radius: 1rem;
  overflow: hidden;
  text-decoration: none;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2),
              0 6px 6px rgba(0, 0, 0, 0.1);
  color: inherit;
  background: $code-background-color;
  position: relative;
  transition: $cubic-bezier-default-05s;
  &:hover, &:focus {
    text-decoration: none;
    color: inherit;
    transform: translateY(-4px);
    scale: 1.05;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5),
      0 1px 4px rgba(0, 0, 0, 0.3),
      0 6px 6px rgba(0, 0, 0, 0.5);
    .release-card__content .release-card__icon {
      opacity: 1;
    }
  }
}

.release-card__image {
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  filter: brightness(0.75);
  transition: filter 0.3s ease;
}

.release-card:hover .release-card__image {
  filter: brightness(0.9);
}

.release-card__content {
  position: relative;
  z-index: 2;
  background: rgba(201, 201, 201, 0.05);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  -webkit-mask-image: linear-gradient(to top, rgba(0,0,0,1) 70%, rgba(0,0,0,0) 100%);
  mask-image: linear-gradient(to top, rgba(0,0,0,1) 70%, rgba(0,0,0,0) 100%);
  padding: 1rem;
  transition: inherit;
  h3 {
    text-shadow: 2px 2px 4px rgba(12, 12, 12, 0.1),
                 4px 4px 8px rgba(12, 12, 12, 0.15);
  }
}

.release-card__title {
  font-size: $type-size-4;
  margin-bottom: 0.4rem;
  color: $text-color;
}

.release-card__description {
  font-size: $type-size-8;
  color: $text-color;
  line-height: 1.4;
}

.release-card__icon {
  position: absolute;
  bottom: 0.75rem;
  right: 0.75rem;
  font-size: $type-size-8;
  color: $text-color;
  opacity: 0;
  transition: inherit;
}

.swiper-wrapper {
  padding: 1rem;
}
// .swiper-button-next,
// .swiper-button-prev {
//   color: #fff;
//   transition: opacity 0.3s;
// }

// .swiper-button-next:hover,
// .swiper-button-prev:hover {
//   opacity: 0.7;
// }
