/* ==========================================================================
   NAVIGATION
   ========================================================================== */

/*
   Breadcrumb navigation links
   ========================================================================== */
@import url('https://fonts.googleapis.com/css?family=Heebo:100,200,400|Open+Sans:400,700');

.breadcrumbs {
  @include container;
  @include clearfix;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 2em;
  padding-right: 2em;
  font-family: $sans-serif;
  -webkit-animation: intro 0.3s both;
          animation: intro 0.3s both;
  -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s;

  @include breakpoint($large) {
    padding-left: 1em;
    padding-right: 1em;
  }

  @include breakpoint($x-large) {
    max-width: $x-large;
  }

  ol {
    padding: 0;
    list-style: none;
    font-size: $type-size-6;

    @include breakpoint($large) {
      float: right;
      width: calc(100% - #{$right-sidebar-width-narrow});
    }

    @include breakpoint($x-large) {
      width: calc(100% - #{$right-sidebar-width});
    }
  }

  li {
    display: inline;
  }

  .current {
    font-weight: bold;
  }
}


/*
   Post pagination navigation links
   ========================================================================== */

.pagination {

  @include full();
  @include clearfix();
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  align-items: center;
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-family: $sans-serif;
  }

  li {
    display: block;
    padding: 0 1em;
    float: left;
    margin-left: -1px;
    a {
      margin-bottom: 0.25em;
      padding: 0.5em 1em;
      font-family: $sans-serif;
      font-size: 1.2em;
      font-weight: bold;
      line-height: 1.5;
      text-align: center;
      text-decoration: none;
      color: mix(#fff, $gray, 25%);
      border-radius: 0;

      &:hover {
        color: $link-color-hover;
      }

      &.current {
        color: #fff;
        background: $code-background-color;
      }

      &.disabled {
        color: mix(#fff, $gray, 75%);
        background: $gray;
        pointer-events: none;
        cursor: not-allowed;
      }
    }

    &:first-child {
      margin-left: 0;

      a {
        border-top-left-radius: $border-radius;
        border-bottom-left-radius: $border-radius;
      }
    }

    &:last-child {
      a {
        border-top-right-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
      }
    }
  }

  /* next/previous buttons */
  &--pager {
    transition: all 0.5s cubic-bezier(0.215, 0.610, 0.355, 1);
    padding: 1em 1em;
    float: left;
    font-family: $tag-font-family;
    font-size: $type-size-5;

    color: lightgray;
    border-radius: $border-radius;
    &:hover {
      background-color: $linkedin-color;
      text-decoration: none;
    }

    &.disabled {
      color: darkgray;
      pointer-events: none;
      cursor: not-allowed;
    }
    &.disabled:hover {
      color: darkgray;
    }
  }
}

.page__content + .pagination,
.page__meta + .pagination,
.page__share + .pagination,
.page__comments + .pagination {
  margin-top: 1em;
}

.page__content + .pagination,
.page__comments + .pagination {
  border-top: 1px solid $border-color;
}
/*
   Priority plus navigation
   ========================================================================== */

.greedy-nav {
  position: relative;
  min-width: 250px;
  a {
    display: block;
    margin: 0 1rem;
    padding: 0.5rem 0;
    color: $primary-color;
    text-decoration: none;

    &:hover {
      color: white;
      scale: 1.25;
    }
  }

  button {
    position: absolute;
    height: 100%;
    right: 0;
    padding: 0 0.5rem;
    border: 0;
    outline: none;
    background-color: $code-background-color;
    color: #fff;
    cursor: pointer;
  }
  .visible-links {
    display: table;

    li {
      display: table-cell;
      vertical-align: middle;

      &:first-child {
        font-weight: bold;

        a {
          margin-left: 0;
        }
      }

      &:last-child {
        a {
          margin-right: 0;
        }
      }
    }

    a {
      position: relative;

      &:before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        height: 4px;
        background: mix(#000, $primary-color, 50%);
        width: 100%;
        -webkit-transition: $global-transition;
        transition: $global-transition;
        -webkit-transform: scaleX(0);
            -ms-transform: scaleX(0);
                transform: scaleX(0); /* hide*/
      }

      &:hover:before {
        -webkit-transform: scaleX(1);
            -ms-transform: scaleX(1);
                transform: scaleX(1); /* reveal*/
      }
    }
  }

  .hidden-links {
    position: absolute;
    top: 100%;
    right: 0;
    margin-top: 15px;
    padding: 5px;
    border: 1px solid $border-color;
    border-radius: $border-radius;
    background: #000;
    box-shadow: 0 0 10px rgba(#fff, 0.25);

    a {
      margin: 0;
      padding: 10px 20px;
      font-size: $type-size-5;

      &:hover {
        color: $masthead-link-color-hover;
        background: mix(#000, $primary-color, 75%);
      }
    }

    &:before {
      content: "";
      position: absolute;
      top: -11px;
      right: 10px;
      width: 0;
      border-style: solid;
      border-width: 0 10px 10px;
      border-color: $border-color transparent;
      display: block;
      z-index: 0;
    }

    &:after {
      content: "";
      position: absolute;
      top: -10px;
      right: 10px;
      width: 0;
      border-style: solid;
      border-width: 0 10px 10px;
      border-color: #000 transparent;
      display: block;
      z-index: 1;
    }

    li {
      display: block;
      border-bottom: 1px solid $border-color;

      &:last-child {
        border-bottom: none;
      }
    }
  }
}


/*
   Navigation list
   ========================================================================== */

.nav__list {
  font-size: 1.25rem;

  ul {
    margin-bottom: 1em;
  }

  a {
    display: block;
    padding: 0.125em 0;
    color: inherit;

    &:hover {
      text-decoration: underline;
    }
  }

  .active {
    margin-left: -0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    color: #fff;
    font-weight: bold;
    background: $primary-color;
    border-radius: $border-radius;

    &:hover {
      color: #fff;
    }
  }
}

.nav__title {
  margin: 0;
  padding: 0.5rem 1rem;
  font-family: $sans-serif-narrow;
  font-size: $type-size-4;
  font-weight: bold;
}

.nav__sub-title {
  display: block;
  margin: 0.5rem 0;
  padding: 0.5rem 0;
  font-family: $sans-serif-narrow;
  font-size: $type-size-6;
  font-weight: bold;
  border-bottom: 1px solid $border-color;
}


/*
   Table of contents navigation
   ========================================================================== */

.toc {
  transition: $cubic-bezier-default;

  font-family: $tag-font-family;
  color: $light-gray;
  border: 1px solid $border-color;
  border-radius: $border-radius;
  .nav__title {
    color: lightgrey;
    font-size: $type-size-7;
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
  }

}

.toc__menu {
  transition: all 0.5s cubic-bezier(0.39, 0.575, 0.565, 1);
  list-style: none;
  font-size: 0.8rem;
  font-weight: 400;
  font-family: $tag-font-family;
  a {
    color: $light-gray;
    text-decoration: none !important;
    display: block;
    padding: 0.5rem 1rem;
    line-height: 1;
    border-bottom: 1px solid darken($border-color, 0.5) !important;
    &:hover {
      color: black;
      background: $link-color;
      text-decoration: none;
    }
  }

  li ul > li a {
    padding-left: 1.5rem;
  }

  li ul li ul > li a {
    padding-left: 2rem;
  }

  li ul li ul li ul > li a {
    padding-left: 2.5rem;
  }

  li ul li ul li ul li ul > li a {
    padding-left: 3rem;
  }

  li ul li ul li ul li ul li ul > li a {
    padding-left: 3rem;
    font-size: 0.6rem;
    color: $primary-color;
  }

  /* hide sub sub links on small screens*/
  li > ul li {
    display: none;

    @include breakpoint($medium) {
      display: block;
    }
  }
}


.pagination--pager {
  text-align: center;
  text-decoration: none;
  padding: 0 2em;
  &:hover {
    transform: none;
  }
}