/* ==========================================================================
   NOTICE TEXT BLOCKS
   ========================================================================== */

/**
 *  Default Kramdown usage (no indents!):
 *  <div class="notice" markdown="1">
 *  #### Headline for the Notice
 *  Text for the notice
 *  </div>
 */

@mixin notice($notice-color) {
  text-align: center;
  margin: 1em auto !important;  /* override*/
  padding: 1em 1em;
  font-family: 'Barlow', sans-serif;
  font-weight: 200;
  font-size: $type-size-7 !important;
  text-indent: initial; /* override*/
  background-color: mix(rgba(255,255,255,0.2),$notice-color, 0.5);
  max-width: 90%;

  border-radius: $border-radius;
  h4 {
    margin-top: 0 !important; /* override*/
    margin-bottom: 0.75em;
  }

  @at-root .page__content #{&} h4 {
    /* using at-root to override .page-content h4 font size*/
    margin-bottom: 0;
    font-size: 1em;
  }

  p {
    &:last-child {
      margin-bottom: 0 !important; /* override*/
    }
  }
  a {
    color: $link-color-hover;
  }
  h4 + p {
    /* remove space above paragraphs that appear directly after notice headline*/
    margin-top: 0;
    padding-top: 0;
  }

  ul {
    &:last-child {
      margin-bottom: 0; /* override*/
    }
  }

  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

/* Default notice */

.notice {
  @include notice($light-gray);
}

/* Primary notice */

.notice--primary {
  @include notice($primary-color);
}

/* Info notice */

.notice--info {
  @include notice($info-color);
}

/* Warning notice */

.notice--warning {
  @include notice($warning-color);
}

/* Success notice */

.notice--success {
  @include notice($success-color);
}

/* Danger notice */

.notice--danger {
  @include notice($danger-color);
}
.notice--pinky {
  @include notice(rgb(204, 51, 77));
}

.notice--purple {
  @include notice(rgb(165, 65, 165));
}

.notice--dark-amber {
  @include notice(#5B3A29);
}

.notice--olive-green {
  @include notice(#2F3A32);
}

.notice--antique-green {
  @include notice(#4A6E4D);
}
.notice--burgundy-red {
  @include notice(#3B1F1F);
}