/* ==========================================================================
   SINGLE PAGE/POST
   ========================================================================== */


#main {
  display: flex;
  @include clearfix;
  // margin-top: 1rem;
  margin-left: 0;
  max-width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  animation: intro 0.3s both;
  // animation-delay: 0.15s;
  container-type: inline-size;
}

.article-image {
  display: block;
  text-align: center;
  img {
    max-width: 80%;
    margin: 0.5em auto;
    align-self: center;
    border-radius: 1em;
    transition: all 0.5s cubic-bezier(.33,.11,.12,.99);
    box-shadow: 0 4px 4px rgba(0, 0, 0, .35),
        0 1px 6px rgba(0, 0, 0, .20);
    &:hover {
      scale: 105%;
      box-shadow: 0 4px 4px rgba(0, 0, 0, .35),
                0 1px 6px rgba(0, 0, 0, .20),
                0 8px 8px rgba(0, 0, 0, .25),
                0 16px 16px rgba(0, 0, 0, .25), 
                8px 32px 32px rgba(0, 0, 0, .35), 
                8px 64px 64px rgba(0, 0, 0, .35); 
    }
  }
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
          flex-direction: column;
}

.initial-content,
.search-content {
  flex: 1 0 auto;
}

.page {
  float: right;
  position: relative;
  @include breakpoint($large) {
    float: right;
    padding-right: $right-sidebar-width-narrow;
  }

  @include breakpoint($x-large) {
    float: right;
    padding-right: $right-sidebar-width;
  }

  @include span(12 of 12);


  .page__inner-wrap {
    float: left;
    position: inherit;
    margin: 0.5em 0em 0em 0em;
    padding: 0.5em;
    border-radius: 0.5em;
    -webkit-overflow-scrolling: touch;
    @include breakpoint($large) {
      padding: 1.5em 2em 2em 2em;
      border-radius: 1.5em;
      margin: 0.5em 0em 0.2em;
    }
    width: 100%;
    clear: both;
    .page__content,
    .page__meta,
    .page__share {
      // align in center
      position: relative;
      margin-left: 0;
      margin-right: 0;
      width: 100%;
      clear: both;
    }
  }
  transition: all $global-transition-time cubic-bezier(0.33, 0.11, 0.02, 0.99);
}

.page-no-right-sidebar {
  width: 100%;
  @include breakpoint($large) {
    float: right;
    padding-right: 0;
  }

  @include breakpoint($x-large) {
    float: right;
    padding-right: 0;
  }

  .page__inner-wrap {
    float: left;
    width: 100%;
    clear: both;
    flex: none;
    .page__content,
    .page__meta,
    .page__share {
      position: relative;
      float: left;
      margin-left: 0;
      margin-right: 0;
      width: 100%;
      clear: both;
    }
  }
  transition: all $global-transition-time cubic-bezier(0.175, 0.885, 0.32, 1.275);
}


.page__title {
  margin-top: 0;
  line-height: 1;

  & + .page__meta {
    margin-top: -0.5em;
  }
}

.page__lead {
  font-family: $global-font-family;
  font-size: $type-size-7;
  @include breakpoint($large) {
    font-size: $type-size-5;
  }    
  @include breakpoint($x-large) {
    font-size: $type-size-4;
  }
}

.page__content {
  h1 {
    border-bottom: 2px dashed $border-color;
    margin-bottom: 0.4em;
    padding-bottom: 0.1em;
  }
  h2 {
    margin-bottom: 0.2em;
    padding-bottom: 0.1em;
    border-bottom: 1px dotted $border-color;
  }

  p, li, dl {
    font-size: 1em;
  }

  /* paragraph indents */
  p {
    margin: 0 0 $indent-var;

    /* sibling indentation*/
    @if $paragraph-indent == true {
      & + p {
        text-indent: $indent-var;
        margin-top: -($indent-var);
      }
    }
  }


  dt {
    margin-top: 1em;
    font-family: $sans-serif;
    font-weight: bold;
  }

  dd {
    margin-left: 1em;
    font-family: $sans-serif;
    font-size: $type-size-6;
  }

  .small {
    font-size: $type-size-6;
  }

  /* blockquote citations */
  blockquote + .small {
    margin-top: -1.5em;
    padding-left: 1.25rem;
  }

}

.page__hero {
  transition: $cubic-bezier-default-05s;
  position: relative;
  margin-bottom: 2em;
  @include clearfix;
  animation: intro 0.3s both;
  animation-delay: 0.25s;
  &--overlay {
    position: relative;
    margin-bottom: 1em;
    padding: 2em 0;
    @include clearfix;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    animation: intro 0.3s both;
    animation-delay: 0.25s;
    a {
      color: $text-color;
    }

    .wrapper {
      padding-left: 1em;
      padding-right: 1em;

      @include breakpoint($x-large) {
        max-width: $x-large;
      }
      aspect-ratio: 4;
    }

    .page__title,
    .page__meta,
    .page__lead,
    .btn {
      color: $text-color;
      text-shadow: 1px 1px 4px rgba($darker-gray, 0.5);
    }

    .page__lead {
      max-width: $medium;
    }

    .page__title {
      font-size: $type-size-3;
      @include breakpoint($large) {
        font-size: $type-size-2;
      }    
      @include breakpoint($x-large) {
        font-size: $type-size-1;
      }
    }
  }
}

.swiper .page__hero {
  animation: none;
  animation-delay: unset;
  &--overlay {
    animation: none;
    animation-delay: none;
  }
}

.page__hero-image {
  width: 100%;
  height: 100%;
  -ms-interpolation-mode: bicubic;
}

.page__hero-caption {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0 auto;
  padding: 2px 5px;
  color: $text-color;
  font-family: $caption-font-family;
  font-size: $type-size-8;
  background: #222;
  text-align: right;
  z-index: 5;
  opacity: 0.6;
  border-radius: $border-radius 0 $border-radius 0;

  @include breakpoint($large) {
    padding: 5px 10px;
  }

  a {
    color: $text-color;
    text-decoration: none;
  }
}

/*
   Social sharing
   ========================================================================== */

.page__share {
  padding-top: 1em;
  border-top: 1px solid $border-color;

  @include breakpoint(max-width $small) {
    .btn span {
      border: 0;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
  }
}

.page__share-title {
  margin-bottom: 10px;
  font-size: $type-size-7;
  text-transform: uppercase;
}


/*
   Page meta
   ========================================================================== */

.page__meta {
  margin-top: 2em;
  margin-bottom: 1em;
  color: $text-color;
  font-size: $type-size-7;
  text-align: center;
  p {
    margin: 0 auto;
  }
  &_read_time, &_date {
    text-align: unset;
    font-family: $barlow-font-family;
  }
}

.page__meta-title {
  margin-bottom: 1em;
  font-size: $type-size-7;
  text-transform: uppercase;
}
// Create an inline class for section wrapper. All contents should be centered

.paragraph-center-wrapper {
  display: block;
  justify-content: center;
  align-items: center;
  text-align: justify;
  margin: 2.5em auto;
  width: 100%;
  border-radius: 1em;
  padding: 1em 1.5em;
  background-color: $center-wrapper-background-color;
  overflow: hidden;
  p, li {
    text-indent: 2em;
  }
  ol,ul {
    list-style-position: inside;
  }
}
.translucent_border {
  border: 1px dashed $border-color;
}

/*
   Page taxonomy
   ========================================================================== */

.page__taxonomy {
  display: inline-block;
  border-radius: 0.5em;
  padding: 0.5em;
  text-align: center;
  .sep {
    display: inline;
  }

  strong {
    margin-right: 10px;
  }
  a {
    color: $text-color;
    &:hover {
      text-decoration: none;
    }
  }
}

.page__taxonomy-item {
  display: inline-block;
  padding: 0.2rem 0.4rem;
  margin: 0.2rem 0.1rem;
  text-decoration: none;
  font-family: $tag-font-family;
  --tag-color: $default-tag-color; // To be parsed by Liquid
    color: var(--tag-color);
    border: 2px solid var(--tag-color);
    border-radius: $border-radius;
  &:hover {
    color: $text-color;
    background-color: var(--tag-color);
    border-color: var(--tag-color);
    opacity: 1;
    // &:nth-child(1) {
    //   background-color: $geo-color; // Light pink
    //   border-color: $geo-color;
    // }
    // &:nth-child(2) {
    //   background-color: #ff9999; // Medium pink
    //   border-color: #ff9999;
    // }
    // &:nth-child(3) {
    //   background-color: $foursquare-color; // Darker pink
    //   border-color: $foursquare-color;
    // }
    // &:nth-child(4) {
    //   background-color: $h2-color;
    //   border-color: $h2-color;
    // }
    // &:nth-child(5) {
    //   background-color: $h5-color;
    //   border-color: $h5-color;
    // }
    // &:nth-child(6) {
    //   background-color: $h6-color;
    //   border-color: $h6-color;
    // }
    // &:nth-child(7) {
    //   background-color: $xing-color;
    //   border-color: $xing-color;
    // }
    // &:nth-child(8) {
    //   background-color: $vine-color;
    //   border-color: $vine-color;
    // }
    // &:nth-child(9) {
    //   background-color: salmon;
    //   border-color: salmon;
    // }
    // &:nth-child(10) {
    //   background-color: seagreen;
    //   border-color: seagreen;
    // }
    // &:nth-child(11) {
    //   background-color: $h3-color;
    //   border-color: $h3-color;
    // }
    // &:nth-child(12) {
    //   background-color: $dribbble-color;
    //   border-color: $dribbble-color;
    // }
  }
}

tradingview-widget-container {
  margin: 0 0.5em;
  width: 100%;
  
}
/*
   Comments
   ========================================================================== */

.page__comments {
  @include full();
}

.page__comments-title {
  margin-top: 2rem;
  margin-bottom: 10px;
  padding-top: 2rem;
  font-size: $type-size-6;
  border-top: 1px solid $border-color;
  text-transform: uppercase;
}

.page__comments-form {
  padding: 1em;
  background: $lighter-gray;
  transition: $global-transition;

  &.disabled {
    input,
    button,
    textarea,
    label {
      pointer-events: none;
      cursor: not-allowed;
      filter: alpha(opacity=65);
      box-shadow: none;
      opacity: 0.65;
    }
  }
}

.comment {
  @include clearfix();
  margin: 1em 0;

  &:not(:last-child) {
    border-bottom: 1px solid $border-color;
  }
}

.comment__avatar-wrapper {
  float: left;
  width: 60px;
  height: 60px;

  @include breakpoint($large) {
    width: 100px;
    height: 100px;
  }
}

.comment__avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;

  @include breakpoint($large) {
    width: 80px;
    height: 80px;
    padding: 5px;
    border: 1px solid $border-color;
  }
}

.comment__content-wrapper {
  float: right;
  width: calc(100% - 60px);

  @include breakpoint($large) {
    width: calc(100% - 100px);
  }
}

.comment__author {
  margin: 0;

  a {
    text-decoration: none;
  }
}

.comment__date {
  @extend .page__meta;
  margin: 0;

  a {
    text-decoration: none;
  }
}


/*
   Related
   ========================================================================== */

.page__related {
  margin-top: 2rem;
  padding-top: 1rem;
  border-top: 1px solid $border-color;
  @include clearfix();
  float: left;

  width: 100%;
  a {
    color: inherit;
    text-decoration: none;
  }
}

.page__related-title {
  margin-bottom: 0.3rem;
  font-size: $type-size-6;
  text-transform: uppercase;
}


/*
   Wide Pages
   ========================================================================== */

.wide {
  .page {
  @include breakpoint($large) {
    padding-right: 0;
  }

  @include breakpoint($x-large) {
    padding-right: 0;
  }
  }

  .page__related {
  @include breakpoint($large) {
    padding-right: 0;
  }

  @include breakpoint($x-large) {
    padding-right: 0;
  }
  }
}

.logo_wrapper {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 1em 0;
  box-shadow: 0 10 10px rgba(0, 0, 0, 0.5),
              0 1px 6px rgba(0, 0, 0, 0.3),
              0 8px 8px rgba(0, 0, 0, 0.5),
              0 16px 16px rgba(0, 0, 0, 0.5),
              8px 32px 32px rgba(0, 0, 0, 0.5),
              8px 64px 64px rgba(0, 0, 0, 0.35);
  :hover {
    cursor: pointer;
    transform: scale(1.15);
  }
  a {
    transition: $cubic-bezier-default;

    width: 40%;
    @include breakpoint($x-large) {
      width: 30%;
    }
  }
}

.qsd_logo_stroke_display {
  min-width: 120px;
  min-height: 120px;
  max-width: 50%;
  max-height: 50%;
  height: 6em;
  aspect-ratio: 1 !important;
  mask-image: url("/images/QSDLogos/QSD_logo_stroke_path.svg");
  mask-repeat: no-repeat;
	mask-position: center;
	mask-size: contain;
  background: $conic-gradient-blue;
  opacity: 0.6;
}