/* ==========================================================================
   UTILITY CLASSES
   ========================================================================== */

/*
   Visibility
   ========================================================================== */

/* http://www.456bereastreet.com/archive/200711/screen_readers_sometimes_ignore_displaynone/ */



.hidden {
  display: none;
  visibility: hidden;
}

/* for preloading images */

.load {
  display: none;
}

.transparent {
  opacity: 0;
}

/* https://developer.yahoo.com/blogs/ydn/clip-hidden-content-better-accessibility-53456.html */

.visually-hidden,
.screen-reader-text,
.screen-reader-text span,
.screen-reader-shortcut {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px !important;
  width: 1px !important;
  border: 0 !important;
  overflow: hidden;
}

body:hover .visually-hidden a,
body:hover .visually-hidden input,
body:hover .visually-hidden button {
  display: none !important;
}

/* screen readers */

.screen-reader-text:focus,
.screen-reader-shortcut:focus  {
  clip: auto !important;
  height: auto !important;
  width: auto !important;
  display: block;
  font-size: 1em;
  font-weight: bold;
  padding: 15px 23px 14px;
  background: #000;
  z-index: 100000;
  text-decoration: none;
  box-shadow: 0 0 2px 2px rgba(255,255,255,.4);
}


/*
   Skip links
   ========================================================================== */

.skip-link {
  position: fixed;
  z-index: 20;
  margin: 0;
  font-family: $sans-serif;
  white-space: nowrap;
}

.skip-link li {
  height: 0;
  width: 0;
  list-style: none;
}


/*
   Type
   ========================================================================== */

.text-left {
  text-align: left;
}

.text-color {
  color: $text-color;
}
//  utility classes for post signatures
.sans-serif {
  font-family: $sans-serif;
  color: $primary-color;
  h1, h2, h3, h4, h5, h6, p, a, blockquote {
    font-family: $sans-serif;
    color: $primary-color;
  }
}
.h3_right_thin {
  color: $text-color;
  text-align: right;
  font-family: 'Barlow';
  font-weight: 300;
}

.p_right_thin {
  color: $primary-color;
  text-align: right;
  font-family: 'Barlow';
}

.barlow {
    font-family: 'Barlow';
    font-weight: 400;
}
.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

.text-nowrap {
  white-space: nowrap;
}


/*
   Alignment
   ========================================================================== */

/* clearfix */

.cf { clear: both; }

.wrapper {
  @include container();
}


/*
   Images
   ========================================================================== */

/* image align left */

.align-left {
  display: block;
  margin-left: auto;
  margin-right: auto;

  @include breakpoint($small) {
    float: left;
    margin-right: 1em;
  }
}

/* image align right */

.align-right {
  display: block;
  margin-left: auto;
  margin-right: auto;

  @include breakpoint($small) {
    float: right;
    margin-left: 1em;
  }
}

/* image align center */

.align-center {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

/* file page content container */

.full {
  // @include breakpoint($large){
  //   margin-right: -1 * span(2.5 of 12) !important;
  // }
  width: 100%;
  margin: 0 auto;
}

/*
   Icons
   ========================================================================== */

.icon {
  display: inline-block;
  fill: currentColor;
  width: 1em;
  height: 1.1em;
  line-height: 1;
  position: relative;
  top: -0.1em;
  vertical-align: middle;
}

/* social icons*/
.h1 .fa-newspaper {
  color: $blog-color;
}

.social-icons {
  .fa {
    color: #fff;
  }
  .fa-location-arrow {
    color: $geo-color;
  }
  .fa-envelope {
    color: $email-color;
  }
  .fa-github,
  .fa-github-alt,
  .fa-github-square {
    color: $github-color;
  }
  .fa-instagram {
    color: $instagram-color;
  }
  .fa-business-time {
    color: $office-clock-color !important;
  }
  .fa-lastfm,
  .fa-lastfm-square {
    color: $lastfm-color;
  }

  .fa-linkedin,
  .fa-linkedin-square {
    color: $linkedin-color;
  }
  
}


/*
   Navicons
   ========================================================================== */

.navicon {
  position: relative;
  width: $navicon-width;
  height: $navicon-height;
  background: #121212;
  margin: auto;
  -webkit-transition: 0.3s;
  transition: 0.3s;

  &:before,
  &:after {
    content: "";
    position: absolute;
    left: 0;
    width: $navicon-width;
    height: $navicon-height;
    background: #fff;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }

  &:before {
    top: (-2 * $navicon-height);
  }

  &:after {
    bottom: (-2 * $navicon-height);
  }
}

.close .navicon {
  /* hide the middle line*/
  background: transparent;

  /* overlay the lines by setting both their top values to 0*/
  &:before, &:after{
    -webkit-transform-origin: 50% 50%;
        -ms-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    top: 0;
    width: $navicon-width;
  }

  /* rotate the lines to form the x shape*/
  &:before{
    -webkit-transform: rotate3d(0,0,1,45deg);
            transform: rotate3d(0,0,1,45deg);
  }
  &:after{
    -webkit-transform: rotate3d(0,0,1,-45deg);
            transform: rotate3d(0,0,1,-45deg);
  }
}


/*
   Sticky, fixed to top content
   ========================================================================== */

.sticky {
  @include breakpoint($large) {
    @include clearfix();
    position: -webkit-sticky;
    position: sticky;
    top: 2em;

    > * {
      display: block;
    }
  }
}

.center-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding: 1em;
  * {
    margin: 0 auto;
  }
}
.sticky_bottom {
  @include clearfix();
  position: -webkit-sticky;
  position: sticky;
  bottom: 1em;

  > * {
    display: block;
  }
}
.didot {
  color: $primary-color;
  font-family: $didot-family;
  h1, h2, h3, h4, h5, h6, p, a, blockquote {
    font-family: $didot-family;
  }
}
/*
   Wells
   ========================================================================== */

.well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #050505;
  border: 1px solid #232323;
  border-radius: $border-radius;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}


/*
   Modals
   ========================================================================== */

.show-modal {
  overflow: hidden;
  position: relative;

  &:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.85);
  }

  .modal {
    display: block;
  }
}

.modal {
  display: none;
  position: fixed;
  width: 300px;
  top: 50%;
  left: 50%;
  margin-left: -150px;
  margin-top: -150px;
  min-height: 0;
  z-index: 9999;
  background: #000;
  border: 1px solid $border-color;
  border-radius: $border-radius;
  box-shadow: $box-shadow;

  &__title {
    margin: 0;
    padding: 0.5em 1em;
  }

  &__supporting-text {
    padding: 0 1em 0.5em 1em;
  }

  &__actions {
    padding: 0.5em 1em;
    border-top: 1px solid $border-color;
  }
}


/*
   Footnotes
   ========================================================================== */

.footnote {
  color: mix(#fff, $gray, 25%);
  text-decoration: none;
}

.footnotes {
  color: mix(#fff, $gray, 25%);

  ol, li, p {
    margin-bottom: 0;
    font-size: $type-size-6;
  }
}

a.reversefootnote {
  color: $gray;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}


/*
   Required
   ========================================================================== */

.required {
  color: $danger-color;
  font-weight: bold;
}

.color_light_grey_light_opacity {
  color: $light-gray;
  opacity: 0.75;
}

.grey-hover {
  filter: grayscale(95%);
  transition: filter ($global-transition-time*3) ease-in-out;
  &:hover {
    filter: grayscale(0%);
  }
}
.opacity-hover {
  opacity: 0.2;
  transition: opacity ($global-transition-time*2) ease-in-out;
  &:hover {
    opacity: 1;
  }
}

// Typewriter effect

.text-type-writer {
  --type-writer-duration:7s; /* duration */
  display:inline-block;
  vertical-align: bottom;
  line-height: 1.2;
  > span {
  display:grid;
  overflow: hidden;
  height: $type-size-4;
  }
}

.text-type-writer span span {
  width:0%;
  max-width:max-content;
  vertical-align: bottom;
  overflow: hidden;
  height:inherit;
  word-break:break-all;
  animation:
    cursor-blink-animation 1s infinite steps(1),  
    type-writer-complete-typing var(--type-writer-duration) linear infinite alternate,
    type-writer-moving calc(var(--type-writer-duration)*2*var(--n-contents)) steps(var(--n-contents)) infinite;
}
.text-type-writer span span:before {
  content:" ";
  display:inline-block;
}

@keyframes type-writer-complete-typing{
  30%,100% {width:100%}
  0%, 5% {width:0%}
}

@keyframes cursor-blink-animation{
  0%,100%{box-shadow:4px 0 0 $code-background-color}
  50%    {box-shadow:4px 0 0 $border-color}
}

@keyframes type-writer-moving {
  100% {transform:translateY(calc(-100%*var(--n-contents)))}
}

.svg-with-drop-shadow {
  filter: drop-shadow(3px 3px 5px #0a0a0a57 );
  transition: all ease-in-out 0.3s;
  &:hover {
    filter: drop-shadow(5px 5px 10px #0a0a0ab5);
  }
}

.svg-display-center-wrapper {
  display: block;
  margin: 1em auto;
  padding: 1em 2em;

  max-width: 50%;
  @include breakpoint($x-large) {
    max-width: 30%;
  }

  transition: transform 0.3s ease-in-out;
  &:hover {
    transform: scale(1.05);
  }
}