/* ==========================================================================
   Variables
   ========================================================================== */

/*
   Typography
   ========================================================================== */

$doc-font-size              : 16;

/* paragraph indention */
$paragraph-indent           : false; // true, false (default)
$indent-var                 : 0.8em;

/* system typefaces */
$serif                      : "Roboto", "PT Serif", Georgia, Times, serif;
$sans-serif                 : "Playfair Display", "Didot", apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
$monospace                  : "Monaco", Consolas, "Lucida Console", monospace;
$didot-family              : "Didot", "CMU Serif", "Playfair Display", serif;
/* sans serif typefaces */
$cmu-serif-family           : "CMU Serif", "Didot", "Playfair Display", serif;
$sans-serif-narrow          : "Roboto", $sans-serif;
$helvetica                  : Helvetica, "Helvetica Neue", Arial, sans-serif;
$barlow-font-family         : "Barlow", $sans-serif-narrow;
/* serif typefaces */
$georgia                    : Georgia, serif;
$times                      : Times, serif;
$bodoni                     : "Bodoni MT", serif;
$calisto                    : "Calisto MT", serif;
$garamond                   : Garamond, serif;

$global-font-family         : $sans-serif;
$header-font-family         : $sans-serif;
$caption-font-family        : $serif;
$tag-font-family            : "Barlow", $sans-serif-narrow;

/* type scale */
$type-size-1                : 2.2em;  // ~39.056px
$type-size-2                : 1.7em;  // ~31.248px
$type-size-3                : 1.5em;  // ~25.008px
$type-size-4                : 1.3em;   // ~20px
$type-size-5                : 1.2em;      // ~16px
$type-size-6                : 1.1em;   // ~12px
$type-size-7                : 1.0em; // ~11px
$type-size-8                : 0.9em;  // ~10px
$type-code-size             : 0.85em;

/*
   Colors
   ========================================================================== */

$gray                       : #7a8288;
$dark-gray                  : mix(#000, $gray, 40%);
$darker-gray                : mix(#000, $gray, 60%);
$light-gray                 : mix(#fff, $gray, 50%);
$lighter-gray               : mix(#f0f0f0, $gray, 90%);
$obsidian-gray              : #22282c;
$body-color                 : #111;
$background-color           : #151515;
$code-background-color      : #21212120;
$code-background-color-dark : #21212120;
$center-wrapper-background-color: #24242424;
$text-color                 : $lighter-gray;
$border-color               : $darker-gray;
$code-color                 : #f92472;
$default-tag-color          : #497472;
$primary-color              : #E6EEE8;
$success-color              : #3c8287;
$warning-color              : #db580c;
$danger-color               : #a74f4c;
$info-color                 : #2d5b86;

/* brands */
$behance-color              : #1769FF;
$dribbble-color             : #ea4c89;
$facebook-color             : #3b5998;
$flickr-color               : #ff0084;
$foursquare-color           : #0072b1;
$email-color                : #59c0f5;
$geo-color                  : #e0a432;
$github-color               : #d2d2d2;
$google-plus-color          : #dd4b39;
$instagram-color            : #ff88d1;
$lastfm-color               : #d51007;
$linkedin-color             : #007bb6;
$pinterest-color            : #cb2027;
$blog-color                 : #fa9b39;
$soundcloud-color           : #ff3300;
$stackoverflow-color        : #fe7a15;
$office-clock-color         : #32506d;
$twitter-color              : #55acee;
$vimeo-color                : #1ab6ea;
$vine-color                 : #00bf8f;
$youtube-color              : #bb0000;
$xing-color                 : #006567;
$steam-color                : #1a3262;

$h2-color                   : hsl(29, 65%, 70%);
$h3-color                   : hsl(335, 47%, 75%);
$h4-color                   : hsl(209, 74%, 73%);
$h5-color                   : hsl(249, 60%, 72%);
$h6-color                   : hsl(278, 74%, 74%);

/* links */
$link-color                 : #6fcdff;
$link-color-hover           : #cbf5dd;
$link-color-visited         : #5b9fff;

$masthead-link-color        : $primary-color;
$masthead-link-color-hover  : mix(#000, $primary-color, 35%);


/*
   Breakpoints
   ========================================================================== */

@include breakpoint-set("to ems", true);
/*
$small                      : 400px;
$medium                     : 500px;
$medium-wide                : 550px;
$large                      : 1200px;
$x-large                    : 1800px;
*/

$small: 37.5rem !default;        // 600px
$medium: 48rem !default;         // 768px
$medium-wide: 56.25rem !default; // 900px
$large: 64rem !default;          // 1024px
$x-large: 80rem !default;        // 1280px
$max-width: $x-large !default;

/*
   Grid
   ========================================================================== */


$right-sidebar-width-narrow: 11.25rem !default;
$right-sidebar-width: 15rem !default;
$right-sidebar-width-wide: 20rem !default;


$susy: (
  columns: 12,
  column-width: 1rem,
  gutters: 1/4,
  math: fluid,
  output: float,
  gutter-position: after,
  container: 80rem,
  global-box-sizing: border-box,
  // debug: (
  //   image: show,
  //   color: blue,
  //   output: overlay,
  //   toggle: top right,
  // ),
);


/*
   Other
   ========================================================================== */


$border-radius: 10px !default;
$box-shadow: 0 1px 1px rgba(50, 50, 50, 0.25) !default;
$nav-height: 2em !default;
$nav-toggle-height: 2rem !default;
$navicon-width: 1.5rem !default;
$navicon-height: 0.25rem !default;
$global-transition: all 0.3s ease-in-out !default;
$cubic-bezier-param: cubic-bezier(.33,.11,.02,.99);
$cubic-bezier-default: all 1s $cubic-bezier-param;
$cubic-bezier-default-05s: all 0.5s $cubic-bezier-param;
$intro-transition: intro 0.3s both !default;
$global-transition-time: 0.5s;
$rose-gold-gradient-translucent: linear-gradient(195deg,#FAC39EBB 0%, #FBD0B7BB 25%, #FBD6C4BB 65%, #DF989FAA 100%);
$box-shadow-fancy:
   0 10px 10px rgba(0, 0, 0, 0.5),
   0 1px 6px rgba(0, 0, 0, 0.3),
   0 8px 8px rgba(0, 0, 0, 0.5),
   0 16px 16px rgba(0, 0, 0, 0.5),
   8px 32px 32px rgba(0, 0, 0, 0.5);

$linear-gradient-macaron: linear-gradient(90deg, rgba(249,237,209,1) 0%, rgba(254,170,194,1) 20%, rgba(247,117,169,1) 40%, rgba(184,222,164,1) 60%, rgba(182,237,232,1) 80%, rgba(143,219,216,1) 100%);
$linear-gradient-megatron: linear-gradient(to right, #c6ffdd, #fbd786, #f7797d); 
$linear-gradient-peach-pink: linear-gradient(49deg, rgba(255, 255, 196, 1.000) 0%, rgba(255, 97, 100, 1.000) 55%, rgb(198, 74, 68) 100%);
$linear-gradient-sunset-orange-blue: linear-gradient(90deg, rgba(164, 116, 81, 1.000) 0.000%, rgba(156, 152, 129, 1.000) 16.667%, rgba(115, 160, 157, 1.000) 33.333%, rgba(59, 137, 154, 1.000) 50.000%, rgba(9, 91, 121, 1.000) 66.667%, rgba(0, 40, 71, 1.000) 83.333%, rgba(0, 1, 22, 1.000) 100.000%);
$conic-gradient-blue: conic-gradient(from 210deg, rgba(197, 187, 184, 1.000) 0.000deg, rgba(197, 187, 184, 1.000) 24.000deg, rgba(184, 181, 184, 1.000) 24.000deg, rgba(184, 181, 184, 1.000) 48.000deg, rgba(169, 175, 183, 1.000) 48.000deg, rgba(169, 175, 183, 1.000) 72.000deg, rgba(154, 168, 181, 1.000) 72.000deg, rgba(154, 168, 181, 1.000) 96.000deg, rgba(139, 161, 179, 1.000) 96.000deg, rgba(139, 161, 179, 1.000) 120.000deg, rgba(125, 152, 175, 1.000) 120.000deg, rgba(125, 152, 175, 1.000) 144.000deg, rgba(112, 144, 171, 1.000) 144.000deg, rgba(112, 144, 171, 1.000) 168.000deg, rgba(101, 135, 166, 1.000) 168.000deg, rgba(101, 135, 166, 1.000) 192.000deg, rgba(92, 126, 161, 1.000) 192.000deg, rgba(92, 126, 161, 1.000) 216.000deg, rgba(85, 117, 155, 1.000) 216.000deg, rgba(85, 117, 155, 1.000) 240.000deg, rgba(81, 108, 148, 1.000) 240.000deg, rgba(81, 108, 148, 1.000) 264.000deg, rgba(79, 99, 141, 1.000) 264.000deg, rgba(79, 99, 141, 1.000) 288.000deg, rgba(80, 90, 133, 1.000) 288.000deg, rgba(80, 90, 133, 1.000) 312.000deg, rgba(84, 83, 125, 1.000) 312.000deg, rgba(84, 83, 125, 1.000) 336.000deg, rgba(91, 75, 116, 1.000) 336.000deg 360.000deg);
$linear-gradient-titanium: linear-gradient(73deg, #283048, rgb(116, 130, 135));
@mixin gradient-background($gradient-background) {
   background: $gradient-background;
}

@mixin gradient-text-color($gradient-text-color) {
   background: $gradient-text-color;
   background-clip: text;
   -webkit-background-clip: text;
   color: rgba(255, 255, 255, 0.1);
}
.text-color-megatron {
   @include gradient-text-color($linear-gradient-megatron);
}
.text-color-sunset-orange-blue {
   @include gradient-text-color($linear-gradient-sunset-orange-blue);
}
.text-color-peach-pink {
   @include gradient-text-color($linear-gradient-peach-pink);
}
.macaron {
   @include gradient-text-color($linear-gradient-macaron);
}

@property --linear-gradient-degree {
   syntax: '<angle>';
   inherits: false;
   initial-value: 49deg;
}

.background-color-peach-pink {
   background: linear-gradient(var(--linear-gradient-degree), rgba(255, 255, 196, 1.000) 0%, rgba(255, 97, 100, 1.000) 55%, rgb(198, 74, 68) 100%);
   transition: --linear-gradient-degree 0.5s;
   --linear-gradient-degree: 49deg;
   &:hover { // When hover, change the direction of gradient
      --linear-gradient-degree: -50deg;
   }
}
.hover-scale.background-color-peach-pink {
   transition:
      transform 0.5s $cubic-bezier-param,
      --linear-gradient-degree 0.5s linear;
}
.background-color-megatron {
   @include gradient-background($linear-gradient-megatron);
}
.background-color-sunset-orange-blue {
   @include gradient-background($linear-gradient-sunset-orange-blue);
}
.background-color-titanium {
   @include gradient-background($linear-gradient-titanium);
}

@property --linear-gradient-animation-degree {
  syntax: '<angle>';
  inherits: false;
  initial-value: 49deg;
}

.background-color-peach-pink-animated {
   transition: $cubic-bezier-default-05s;
   background: linear-gradient(var(--linear-gradient-animation-degree), rgba(255, 255, 196, 1.000) 0%, rgba(255, 97, 100, 1.000) 55%, rgb(198, 74, 68) 100%);
   animation: infinite-gradient-animation 15s ease-in-out infinite;
}

@keyframes infinite-gradient-animation {
   0% {
      --linear-gradient-animation-degree: 49deg;
   }
   25% {
      --linear-gradient-animation-degree: 159deg;
   }
   50% {
      --linear-gradient-animation-degree: 229deg;
   }
   75% {
      --linear-gradient-animation-degree: 319deg;
   }
   100% {
      --linear-gradient-animation-degree: 409deg; // 49deg + 360deg to complete the cycle
   }
}