---
layout: compress
---

{% include base_path %}
{% assign has_overlay_hero = false %}
{% if page.header.overlay_color or page.header.overlay_image or page.swipers %}
  {% assign has_overlay_hero = true %}
{% endif %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body class="{% if page.url == "/" %}layout--home {% endif %}{% if has_overlay_hero %}has-overlay-hero {% endif %}">
    {% include_cached masthead.html %}
    {{ content }}

    {% if site.search == true %}
    <div class="search-content">
      {% include_cached search/search_form.html %}
    </div>
    {% endif %}

    {% include scripts.html %}
  </body>
</html>
{% include tarots.html %}
