---
layout: gallery
---
<!DOCTYPE html>
<html lang="en">
<head>
  {% include head.html %}
  {% include head/custom.html %}
</head>
{% include base_path %}

{% if page.subgalleries %}
<body>
<!-- Enumerate sub-galleries with single view -->
{% include_cached masthead.html %}

{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  {% include page__hero.html %}
{% endif %}

{% if page.url != "/" and site.breadcrumbs %}
  {% unless paginator %}
    {% include breadcrumbs.html %}
  {% endunless %}
{% endif %}

<div id="main" role="main">
  {% include sidebar.html %}

  <div class="archive">
    {% unless page.header.overlay_color or page.header.overlay_image %}
      <h1 class="page__title">{{ page.title }}</h1>
    {% endunless %}
    {{ content }}
  </div>
</div>
<!-- Enumerate sub-galleries -->
<div class="container">
  {% assign voyage_name = page.path | split: '/' | last | split: '.' | first %}
  {% assign subvoyage_folder = voyage_name | append: "/" %}
  {% assign subs = site.subvoyage | where_exp: "item", "item.path contains subvoyage_folder" %}
  {% for post in subs %}
    {% include archive-single.html %}
  {% endfor %}
</div>
</body>
{% else %} 
<!-- Display gallery -->
{% include_cached gallery-svg-preloads.html %}
<link rel="stylesheet" href="/assets/css/gallery_view.css" />
<noscript><link rel="stylesheet" href="/assets/css/noscript.css" /></noscript>

<div id="gallery_main">
        <div class="gallery_view">
          <body class="is-loading-0 is-loading-1 is-loading-2">
            <header id="header">
              <h1>{{ page.title }}</h1>
              <h4>{{ page.subtitle }}</h4>
              <p>{{ page.description }}</p>
            </header>
            <section id="thumbnails">
              {% assign folderpath = "/" | append: page.gallery_name | append: "/" %}
              {% assign gallery = site.static_files | where: "image", true | where_exp: "file", "file.path contains folderpath" %}
              {% for image in gallery %}
                <article>
                  <a class="thumbnail" href="{{ site.gallery_d }}/{{ page.gallery_name }}/{{ image.name }}" data-position="{{ site.thumbnail_position }}">
                    <div class="thumbnail-placeholder" 
                         data-src="{{ site.gallery_d }}/{{ page.gallery_name }}/{{ image.name }}"
                         data-thumbnail="/images/thumbnails/gallery/{{ page.gallery_name }}/{{ image.name }}">
                    </div>
                  </a>
                  <div class="image_title">
                    <h3>{{ image.basename | replace: "__", " | " | replace: "_", " " | replace: ":", "/" }}</h3>
                  </div>
                </article>
              {% endfor %}
            </section>
            {{ content }}
            <p style="font-weight: 200; border-bottom: 0.5px dotted gainsboro;pointer-events: none;" class="p_right_thin">Shot by QSD.  </p>
            <div class="container">
              <h5 class="barlow" style="text-align: left;"><i class="fa-solid fa-shuffle"></i>Fancy a Markov Chain...?</h4>
                {% assign random_posts = site[page.collection] | where_exp: "post", "post.url != page.url" | sample: 4 %}
                {% for post in random_posts %}
                  {% include archive-single.html %}
                {% endfor %}
            </div>
            {% include scripts.html %}
          </body>
        </div>
</div>
</html>

{% endif %}