---
layout: compress
---
{% include base_path %}

<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">

<head>
  {% include head.html %}
  {% include head/custom.html %}
</head>

{% if page.subgalleries %}
<body>
<!-- Enumerate sub-galleries with single view -->
{% include_cached masthead.html %}
{% if page.title %}<meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
{% if page.excerpt %}<meta itemprop="description" content="{{ page.excerpt | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
{% if page.date %}<meta itemprop="datePublished" content="{{ page.date | date: "%B %d, %Y" }}">{% endif %}

{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  {% include page__hero.html %}
{% endif %}

{% if page.url != "/" and site.breadcrumbs %}
  {% unless paginator %}
    {% include breadcrumbs.html %}
  {% endunless %}
{% endif %}

<div id="main" role="main">
  {% include sidebar.html %}
  <div class="container">
    {% assign voyage_name = page.path | split: '/' | last | split: '.' | first %}
    {% assign subvoyage_folder = voyage_name | append: "/" %}
    {% assign subs = site.subvoyage | where_exp: "item", "item.path contains subvoyage_folder" %}
    {% for post in subs %}
      {% assign title = post.title %}
      <div id="{{ title | slugify }}" style="width: 0; height: 0" aria-hidden="true"></div>
      {% include archive-single.html %}
    {% endfor %}
  </div>
{% include scripts.html %}
</div>
{% include presented-by-qsd.html %}
{% if site.tag_voyage.type and page.tags[0] %}
<div class="center_wrapper">
{% include tag-list.html %}
</div>
{% endif %}
</body>
{% else %} 
<!-- Display gallery -->
{% include_cached gallery-svg-preloads.html %}
<noscript><link rel="stylesheet" href="/assets/css/noscript.css" /></noscript>

<div id="gallery_main">
        <div class="gallery_view">
          <body class="is-loading-0 is-loading-1 is-loading-2">
            <header id="header">
              
              {% if page.title %}
                <h1>{{ page.title | markdownify | remove: "<p>" | remove: "</p>" }}</h1>
              {% endif %}
              {% if page.subtitle %}
                <h4>{{ page.subtitle | markdownify | remove: "<p>" | remove: "</p>" }}</h4>
              {% endif %}
              {% if page.description or page.excerpt %}
                <p>{{ page.description | default: page.excerpt | markdownify }}</p>
              {% endif %}
            </header>
            <section id="thumbnails">
              {% assign folderpath = "/" | append: page.gallery_name | append: "/" %}
              {% assign gallery = site.static_files | where: "image", true | where_exp: "file", "file.path contains folderpath" %}
              {% for image in gallery %}
                <article>
                  <a class="thumbnail" href="{{ site.gallery_d }}/{{ page.gallery_name }}/{{ image.name }}" data-position="{{ site.thumbnail_position }}">
                    <div class="thumbnail-placeholder" 
                         data-src="{{ site.gallery_d }}/{{ page.gallery_name }}/{{ image.name }}"
                         data-thumbnail="/images/thumbnails/gallery/{{ page.gallery_name }}/{{ image.name }}">
                    </div>
                  </a>
                  <div class="image_title">
                    <h3>{{ image.basename | replace: "__", " | " | replace: "_", " " | replace: ":", "/" }}</h3>
                  </div>
                </article>
              {% endfor %}
            </section>
            <p style="text-align: right; font-size: 100%; border-bottom: 0.5px dotted gainsboro;pointer-events: none; margin: 0.5em 0.1em; padding-right: 0.25em;" class="barlow">Shot by QSD.  </p>
            {{ content }}
            {% if page.gallery_name contains "/" %}
              {% assign parent_name = page.gallery_name | split: '/' | first %}
              {% assign related_posts = site.subvoyage | where_exp: "post", "post.url != page.url" %}
              {% assign related_posts = related_posts | where_exp: "post", "post.gallery_name contains parent_name" %}
              {% if related_posts.size > 3 %}
                {% assign related_posts = related_posts | sample: 3 %}
              {% endif %}
              {% if related_posts.size > 0 %}
                {% assign default_logo = "fa-cable-car" %}
                {% if parent_name == "prague" %}
                  {% assign default_logo = "fa-cable-car" %}
                {% elsif parent_name == "japan" %}
                  {% assign default_logo = "fa-mountain-city" %}
                {% endif %}
                <div class="archive">
                    <h5 class="barlow"><i class="fa-solid {{ default_logo }}"></i> Other {{ parent_name | capitalize }}</h5>
                  {% for post in related_posts %}
                    {% include archive-single.html %}
                  {% endfor %}
                </div>
              {% endif %}
            {% endif %}
            <div class="archive">
              <h5 class="barlow"><i class="fa-solid fa-shuffle"></i> Fancy a Markov Chain...?</h5>
                {% assign random_posts = site.voyage | where_exp: "post", "post.path != page.path" %}
                {% assign random_posts = random_posts | sample: 4 %}
                {% assign updated_random_posts = "" | split: "" %}
                {% for post in random_posts %}
                  {% if post.subgalleries %}
                    {% assign voyage_name = post.path | split: '/' | last | split: '.' | first %}
                    {% assign subvoyage_folder = voyage_name | append: "/" %}
                    {% assign subs = site.subvoyage | where_exp: "item", "item.gallery_name contains subvoyage_folder" %}
                    {% assign subs = subs | where_exp: "item", "item.path != page.path" %}
                    {% if subs.size > 0 %}
                      {% assign sampled_sub = subs | sample: 1 %}
                      {% assign updated_random_posts = updated_random_posts | push: sampled_sub %}
                    {% endif %}
                  {% else %}
                    {% assign updated_random_posts = updated_random_posts | push: post %}
                  {% endif %}
                {% endfor %}
                {% for post in updated_random_posts %}
                  {% include archive-single.html %}
                {% endfor %}
            </div>
            {% if site.tag_voyage.type and page.tags[0] %}
              {% include tag-list.html %}
            {% endif %}
            {% include scripts.html %}
            <script src="{{ '/assets/js/gallery.js' | relative_url }}"></script>
          </body>
        </div>
</div>

{% endif %}

{% include tarots.html %}