---
layout: default
---
<!DOCTYPE html>

{% include base_path %}


{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  {% include page__hero.html %}
{% endif %}

{% if page.url != "/" and site.breadcrumbs %}
  {% unless paginator %}
    {% include breadcrumbs.html %}
  {% endunless %}
{% endif %}
<div id="main" role="main">
  {% if page.author_profile %}
    {% include sidebar.html %}
  {% endif %}
  {% if page.toc %}
    <div class="page">
  {% else %}
    <div class="page-no-right-sidebar">
  {% endif %}

    {% if page.title %}<meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
    {% if page.excerpt %}<meta itemprop="description" content="{{ page.excerpt | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
    {% if page.date %}<meta itemprop="datePublished" content="{{ page.date | date: "%B %d, %Y" }}">{% endif %}
    {% if page.modified %}<meta itemprop="dateModified" content="{{ page.modified | date: "%B %d, %Y" }}">{% endif %}

    <div class="page__inner-wrap">
      {% unless page.header.overlay_color or page.header.overlay_image %}
        <header>
          {% if page.title %}<h1><i class="fa fa-regular fa-newspaper" aria-hidden="true"></i> {{ page.title | markdownify | remove: "<p>" | remove: "</p>" }}</h1>{% endif %}
          {% if page.read_time %}
            <p class="page__meta"><i class="fa fa-solid fa-business-time" aria-hidden="true"></i> {% include read-time.html %}</p>
          {% endif %}
        </header>
      {% endunless %}
        {% if page.ticker-tape %}
          {% include ticker-tape.html %}
        {% endif %}
      <section class="page__content e-content" itemprop="text">
        {% if page.toc %}
          <aside class="sidebar__right {% if page.toc_sticky %}sticky{% endif %}">
            {% if page.date %}
              <p class="page__date"><i class="fa fa-fw fa-calendar-alt" aria-hidden="true"></i><time datetime="{{ page.date | date: "%Y-%m-%d" }}">{{ page.date | date: "%B %d, %Y" }}</time></p>
            {% endif %}
            <nav class="toc">
              <header><h5 class="nav__title"><i class="fas fa-{{ page.toc_icon | default: 'list-ol' }}"></i> {{ page.toc_label | default: site.data.ui-text[site.locale].toc_label | default: "On this page" }}</h5></header>
              {% include toc.html sanitize=true html=content h_min=1 h_max=6 class="toc__menu" skip_no_ids=true %}
            </nav>
          </aside>
        {% endif %}
        {{ content }}
        {% if page.link %}<div><a href="{{ page.link }}" class="btn btn--primary">{{ site.data.ui-text[site.locale].ext_link_label | default: "Direct Link" }}</a></div>{% endif %}
      </section>

      <footer class="page__meta">
        {% include page__taxonomy.html %}
      </footer>

      {% if page.share %}{% include social-share.html %}{% endif %}

      {% include post_pagination.html %}
    </div>

    {% if page.intriguing-word %}
      <h4 class="barlow"><i class="fa-solid fa-dice"></i> A Random Word</h4>
      {% include word-card.html %}
    {% endif %}
    {% if site.comments.provider and page.comments %}
      {% include comments.html %}
    {% endif %}
    {% comment %}<!-- only show related on a post page when not disabled -->{% endcomment %}
    {% if page.id and page.related and site.related_posts.size > 0 %}
      <div class="page__related">
        {% if site.data.ui-text[site.locale].related_label %}
          <h4 class="page__related-title barlow"><i class="fa-solid fa-map-location-dot"></i> {{ site.data.ui-text[site.locale].related_label | default: "You Might Also Enjoy" }}</h4>
        {% endif %}
        <div class="grid__wrapper">
          {% assign random_posts = site[page.collection] | sample: 4 %}
          {% for post in random_posts %}
            {% include archive-single.html type="grid" %}
          {% endfor %}
        </div>
      </div>
    {% endif %}
  </div>
</div>
